form {
    font-family: 'Fira Sans', sans-serif;
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(img/banner4.jpg);
  }

  .weight-600 {
    font-weight: 600;
    color:#24555A;
    text-align: center;
}

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #ae8340;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color:#24555A;

  }

  input[type="reset"] {
    background-color: #ae8340;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background-color:#24555A;